---
layout: default
---
 <div class="home">
   <h2 class="page-heading">Posts</h2>
   <ul class="post-list">
    {% for post in site.posts %}
      <li>
        
         <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>&nbsp;&#45;&nbsp;<small><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></small>
        </h3>
      </li>
    {% endfor %}
  </ul>
   
</div>

 <div class="site-category">
  <h2 class="site-category">Categories</h2>
  <ul>
   {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "category" %}
          <li><a class="category-link {% if page.url == node.url %} active{% endif %}"
          href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
